{% include "head" %}

<body>
{% include "header" %}
<div class="content content-form" id="content">
    <form action="/fragments/" method="POST">
    <h1 class="create_banner">Create A New Fragment</h1>
    {% include "components/fragments/create" %}
  <button type="submit">Submit Story</button>

</form>
</div>
</body>
