{% include "head" %}

<body>
{% include "header" %}
<div class="content" id="content">
    <div class="stories">
    <div class="description" id="description">
        {{ project.description }}
    </div>
    </div>
</div>
</body>