{% include "head" %}
<body>
{% include "header" %}

<div id="content" class="content">
    <div id="storylist">
    
        {% for project in projects %}
            <a class="projectbrief" href="/projects/{{ project.id }}">
            <h3>
                {{ project.name }}
            </h3>
            <p class="description">
                {{ project.description }}
            </p>
            </a>
        {% endfor %}
    </div>
</div>

</body>
