{% include "head" %}
<body>
{% include "header" %}

<div id="content" class="content">
    <div id="storylist">
        
        {% for resource in resources %}
            <a class="storybrief" href="/stories/{{ story.id }}">
            <h3>
                {{ story.name }}
            </h3>
            <p class="description">
                {{ story.description }}
            </p>
            </a>
        {% endfor %}
    </div>
</div>

</body>
