{% include "head" %}

<body>
{% include "header" %}
<div class="content" id="content">
    <div class="stories">
    <div class="description" id="description">
        {{ description }}
    </div>
    <div id="story_text">
        {{ text }}
    </div>
    </div>
</div>
</body>