{% include "head" %}
<body>
{% include "header" %}
<div id="content" class="content content-form">
    <h1>Create A New Setting</h1>

    <form action="/locations/" method="post">
        <input name="name" placeholder="name"/>

        <textarea name="description"></textarea>
        <button type="submit">Create</button>
    </form>
</div>
</body>