{% import "components/characters/character" as macros %}
{% include "head" %}

<body>
    {% include "header" %}
    <div id="content">
        {{ macros::character(character=character) }}
    </div>
</body>